html, body{
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.ham{
  filter: invert(90%);
}

.contact-page-section {
  position: relative;
  width: 100vw;
  display: grid;
  grid-template-columns: 50% 50% 1fr;

  background-color: rgb(20, 20, 20);
  
}

.contactrightsection{
  margin: 0;
  padding: 0;
  height: 100dvh;
}

.contactheading{
  color: white;
  position: relative;
  
  text-align: left;
  font-family: bevietnamdefault;
  
  letter-spacing: 0.05em;
  font-size: 3.5vh;
  left: 15%;
  margin-top: 15%;
}
.formcontainer{
  position: relative;
  left: 15%;
  max-width: 60%;
  margin-top: 5%;
}


.contact-form {
  position: relative;
}



.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  position: relative;
  display: block;
  width: 100%;
  height: 7vh;
  color: #ffffff;
  font-size: 80%;
  line-height: 38px;
  padding: 10px 30px;
  border: 1px solid #494949;
  background-color: #6d6d6d;
  transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
 
}
.contact-form input[type="text"],
.contact-form input[type="email"]{
  border-top-right-radius: 6% 24%;
  border-bottom-right-radius: 6% 24%;
  border-top-left-radius: 6% 24%;
  border-bottom-left-radius: 6% 24%;
}
.contact-form textarea{
  width: 100%;
  border-top-right-radius: 6% 12%;
  border-bottom-right-radius: 6% 12%;
  border-top-left-radius: 6% 12%;
  border-bottom-left-radius: 6% 12%;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  border-color: rgba(14,14,14);
}


.contact-form textarea {
  height: 25vh;
  resize: none;
}
.form-group1 {
  position: relative;
  margin-right: 2%;
}
.form-group2 {
  position: relative;
  margin-left: 2%;
}
.form-group1 input::placeholder,
.form-group2 input::placeholder,
.contact-form textarea::placeholder{
  color: rgb(235, 235, 235);
  font-family: bevietnamlight;
}
.columngrid{
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50% 1fr;
  margin-bottom: 1.5vh;
  position: relative;
}
.contact-form .theme-btn {
  font-size: 2vh;
  font-weight: 700;
  font-family: bevietnamdefault;
  padding: 3.5% 8%;
  border: 2px solid rgb(220, 125, 0);
  font-family: Arimo, sans-serif;
  background: rgb(220, 125, 0);
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: #000000;
  border-top-right-radius: 10% 24%;
  border-bottom-right-radius: 10% 24%;
  border-top-left-radius: 10% 24%;
  border-bottom-left-radius: 10% 24%;
  margin-top: 3%;
  left: 1%;
}
.contact-form .theme-btn:hover {
  color: rgb(220, 125, 0);
  border-color: rgb(220, 125, 0);
  background: 0 0;
}
.contact-form input.error,
.contact-form select.error,
.contact-form textarea.error {
  border-color: red !important;
}
.contact-form label.error {
  display: block;
  line-height: 24px;
  padding: 5px 0 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  color: red;
  font-weight: 500;
}

.form-checker{
  display: none;
}


.credentialgrid{
  display: grid;
  position: relative;
  margin-top: 5%;
  left: 15%;
  grid-template-columns: 50% 50% 1fr;
  width: 60%;
 
}
.credentialheading{
  position: relative;
  text-align: left;
  color: rgb(148, 148, 148);
  font-family: bevietnamdefault;
  font-size: 2vh;
  
}
.credentialcontent{
  position: relative;
  text-align: left;
  color: rgb(230, 230, 230);
  margin-top: 1%;
  font-family: bevietnamlight;
  font-size: 2vh;
  
}

.content2, .heading2{
  text-align: right;
}

@media (max-width:1000px) {
  .contact-page-section{
    grid-template-columns: 0% 100% 1fr;
  }
  .contactheading{
    margin-top: 25%;
    left: 10%;
  }
  .formcontainer{
    margin-top: 10%;
    max-width: 80%;
    left: 10%;
  }
  .columngrid{
    display: flex;
    flex-direction: column;
  }
  .form-group1{
    margin-right: 0%;
    margin-bottom: 1.5vh;
  }
  .form-group2{
    margin-left: 0%;
  }
  .contact-form textarea {
    height: 16vh;
  }
  .credentialgrid{
    display: flex;
    flex-direction: column;
  }
  .content2, .heading2{
    
    text-align: left;
  }
  .heading2{
    margin-top: 5%;
  }
}
