body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #FFFCF5, #FEE9E1);
}

.servicecontainer {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.servicecontainer h1 {
  font-family: latolight;
  font-size: 4.5vh;
  margin-top: 12%;
  margin-bottom: 7%;
  margin-left: 1%;
  text-align: left;
  position: relative;
}

.decorative-line {
  width: 6vw;
  height: 2px;
  background-color: #ccc;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5vw;
}

.card {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  border-radius: 2vw;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 20vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.info {
  top: 0;
  height: 100%;
  flex: 1;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.card:hover .info {
  transform: scale(1.04);
  background-color: rgba(255, 255, 255, 1);
}

.card h3 {
  font-size: 3vh;
  margin-top: 20%;
  color: #333;
}

.card p {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 2.5vh;
  line-height: 1.5;
  color: #666;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vh;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-bottom: 2vh;
}

.card:hover .tags {
  opacity: 1;
  transform: translateY(0);
}

.tag {
  margin: 5px;
  padding: 5px 10px;
  font-size: 1.5vh;
  font-family: latolight;
  color: #fbfbfb;
  background-color: rgba(0,0,0,0.85);
  border: 1px solid #979797;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: tagAnimation 0.3s ease forwards;
}


@keyframes tagAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media screen and (max-width: 1000px){
  .servicecontainer h1{
    margin-top: 50%;
    margin-bottom: 30%;
  }
  .services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }
  .card{
    width: 100%;
    height: 30vh;
    margin-bottom: 50px;
  }
  .card img{
    width: 40vw;
  }
  .info{
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100%
    
  }
  .tags{
    display: none;
  }
  .card p{
    font-size: 14px;
    margin-bottom: 100px;
  }
  .card h3{
    margin-top: 80%;
    font-size: 24px;
  }
  .decorative-line{
    bottom: -20px;
  }
}


