

@font-face {
  font-family: poppinsthin;
  src: url('./Font/Poppins-Thin.ttf');
}

@font-face {
  font-family: poppinsregular;
  src: url('./Font/Poppins-Regular.ttf');
}

@font-face {
  font-family: poppinsextralight;
  src: url('./Font/Poppins-ExtraLight.ttf');
}

@font-face {
  font-family: poppinslight;
  src: url('./Font/Poppins-Light.ttf');
}

/*Watch the youtube tutorial https://www.youtube.com/watch?v=x2K6ZP7iUYA to understand preloader*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#gooey{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0, 1) no-repeat center fixed;

  z-index: 999999;
}
.gooey{
  position: relative;
  top: 45%;
  text-align: center;  
  background: rgba(0,0,0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.loading-text {

  position: relative;
  font-size: 3.75rem;
  font-weight: 300;
  margin: 0;
  white-space: nowrap;
  font-family: poppinsextralight;
}
.loading-text::before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 40px;
  left: 115px;
  width: 8px;
  height: 8px;
  background: darkorange;
  border-radius: 50%;
  -webkit-animation: dotMove 1800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) infinite;
          animation: dotMove 1800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) infinite;
}
.loading-text .letter {
  display: inline-block;
  position: relative;
  color: white;
  letter-spacing: 2.4px;
}
.loading-text .letter:nth-child(1) {
  transform-origin: 100% 70%;
  transform: scale(1, 1.275);
}
.loading-text .letter:nth-child(1)::before {
  position: absolute;
  content: "";
  top: 22px;
  left: 0;
  width: 14px;
  height: 36px;
  background: #000000;
  transform-origin: 100% 0;
  -webkit-animation: lineStretch 1800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) infinite;
          animation: lineStretch 1800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) infinite;
}
.loading-text .letter:nth-child(5) {
  transform-origin: 100% 70%;
  -webkit-animation: letterStretch 1800ms cubic-bezier(0.25, 0.23, 0.73, 0.75) infinite;
          animation: letterStretch 1800ms cubic-bezier(0.25, 0.23, 0.73, 0.75) infinite;
}
.loading-text .letter:nth-child(5)::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 2px;
  width: 9px;
  height: 15px;
  background: #000000;
}

@-webkit-keyframes dotMove {
  0%, 100% {
    transform: rotate(180deg) translate(-110px, -10px) rotate(-180deg);
  }
  50% {
    transform: rotate(0deg) translate(-111px, 10px) rotate(0deg);
  }
}

@keyframes dotMove {
  0%, 100% {
    transform: rotate(180deg) translate(-110px, -10px) rotate(-180deg);
  }
  50% {
    transform: rotate(0deg) translate(-111px, 10px) rotate(0deg);
  }
}
@-webkit-keyframes letterStretch {
  0%, 100% {
    transform: scale(1, 0.35);
    transform-origin: 100% 75%;
  }
  8%, 28% {
    transform: scale(1, 2.125);
    transform-origin: 100% 67%;
  }
  37% {
    transform: scale(1, 0.875);
    transform-origin: 100% 75%;
  }
  46% {
    transform: scale(1, 1.03);
    transform-origin: 100% 75%;
  }
  50%, 97% {
    transform: scale(1);
    transform-origin: 100% 75%;
  }
}
@keyframes letterStretch {
  0%, 100% {
    transform: scale(1, 0.35);
    transform-origin: 100% 75%;
  }
  8%, 28% {
    transform: scale(1, 2.125);
    transform-origin: 100% 67%;
  }
  37% {
    transform: scale(1, 0.875);
    transform-origin: 100% 75%;
  }
  46% {
    transform: scale(1, 1.03);
    transform-origin: 100% 75%;
  }
  50%, 97% {
    transform: scale(1);
    transform-origin: 100% 75%;
  }
}
@-webkit-keyframes lineStretch {
  0%, 45%, 70%, 100% {
    transform: scaleY(0.125);
  }
  49% {
    transform: scaleY(0.75);
  }
  50% {
    transform: scaleY(0.875);
  }
  53% {
    transform: scaleY(0.5);
  }
  60% {
    transform: scaleY(0);
  }
  68% {
    transform: scaleY(0.18);
  }
}
@keyframes lineStretch {
  0%, 45%, 70%, 100% {
    transform: scaleY(0.125);
  }
  49% {
    transform: scaleY(0.75);
  }
  50% {
    transform: scaleY(0.875);
  }
  53% {
    transform: scaleY(0.5);
  }
  60% {
    transform: scaleY(0);
  }
  68% {
    transform: scaleY(0.18);
  }
}
@media (min-width: 48rem) {
  #container {
    transform: scale(0.725rem);
  }
}
@media (min-width: 62rem) {
  #container {
    transform: scale(0.85);
  }
}
  


.reveal{   /*Animation created from javascript on scroll*/
  position: relative;
  transform: translateY(220px);
  opacity: 0;
  transition: all 0.6s ease-out;

}
 .activesection{
  transform: translateY(0px);
  opacity: 1;
}


nav,
header,
footer {
  display: block;
}


html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
  text-decoration: none !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-display: swap;
  image-rendering: optimizeSpeed;
}

fieldset,
img {
  border: 0;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
.allfont {
  /*font-family: 'Times New Roman', Times, serif;*/
  font-family: poppinslight;

}


/*Animation of the background image in home page*/
@keyframes mymove {
  from {
    transform: scale(1) translateX(0);
  }
  to {
    transform: scale(1.5) translateY(-5%);
  }
}

.loadtext{
  text-align: right;
  margin-right: 30px;
}



/*------------------------------------------------ Navigation bar ------------------------------------------------------*/
nav {
  width: 100%;
  padding: 10px 20px;
  position: fixed;
  z-index: 99;
  overflow: hidden;
  background-color: transparent;
  transition: 0.05s;
  text-decoration: none;
}

#padnav {
  display: block;
  text-align: center;
  padding-left: 12px;
  padding-right: 16px;
  text-transform: uppercase;

  text-transform: none;
}


.header {
  padding-top: 40px;
  font-size: 68px;
  text-align: center;
  color: white;
}




.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1); /*Please take a note of this color. It is slight different from footer*/
  backdrop-filter: blur(30px);
  overflow-x: hidden;
  transition:  0.7s ;
  max-height: 100vh;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay-content2{
  position: relative;
  top: 25%;
  text-align: center;
  
}
.navtext {
  padding: 8px;
  text-decoration: none;
  font-size: 60px;
  color: black;
  display: block;
  transition: 0.3s;
}

.navtext2 {
  padding: 0 40px 0 40px;
  text-decoration: none;
  font-size: 40px;
  color: black;
  transition: 0.3s;
}

@media screen and (max-width: 1000px){
  .navtext2{
  font-size: 25px;
  padding: 0 8px 0 8px;
  }
}


.overlay-exterior {
  position: absolute;
  top: 90%;
  left: 2%;
  width: 100%;
 
}
.overlay-interior {
  position: absolute;
  top: 90%;
  left: 85%;
  width: 100%;

}



/*-------------------------- Hamburger --------------------*/
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-clip: padding-box;
    padding: 5px;
    transform: scale(1.4);
  }
 
  .line {
    fill: none;
    transition: stroke-dasharray 1000ms, stroke-dashoffset 800ms;
    stroke: rgb(0, 0, 0);
    stroke-width: 4;
    stroke-linecap: round;
  }

  .ham2 .top {
    stroke-dasharray: 40 121;
  }
  .ham2 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham2.active .top {
    stroke-dashoffset: -102px;

  }
  .ham2.active .bottom {
    stroke-dashoffset: -102px;
  }


/*------------------------- End of hamburger ---------------------------------*/





.overlay a:hover, .overlay a:focus {   /*navtext hover*/
  color: orange;
  cursor: pointer;
}


.overlay .closebtn {
  position: absolute;
  top: -10px;
  right: 50px;
  font-size: 110px;
}

.workdone {
  font-size: 25px;
  align-content: center;
  text-align: center;
  margin-bottom: 5%;
  z-index: 2;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
ul.top li {
  list-style: none;
  float: left;
}
#logo {
  margin-top: 20px;
  transition: all 1s ease-in-out;
  opacity: 0.5;
}
#logo:hover {
  transform: scale(1.2);
  transition: all 0.6s ease;
  opacity: 1;
}

#padnav2 {
  margin-top: 10px;
}
#right2 {
  margin-top: 10px;
}
.right {
  float: right;
  padding-top: 10px;
  padding-right: 20px;
}

/*ul.top li a:hover {
    text-decoration: underline;
    color: black;  
}*/



.wavecontainer {
  max-height: 100%;
  position: sticky;
  overflow: hidden;
  background: linear-gradient(315deg, rgba(255, 0, 0, 0.08) 3%, rgba(60,132,206,0.08) 38%, rgba(48,238,226,0.08) 68%, rgba(255,165,0,0.08) 98%);
  animation: gradient 6s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 1000% 1000% 0 0;
  position: absolute;
  width: 200%;
  height: 300px;
  animation: wave 4s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 6s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 7s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}




main{
  background-color: rgba(250, 250, 250, 1);
  background-image: url("svg/5570863.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

}
.background1container{
  padding-bottom: 1px;
}
.authentic {
  padding-top: 100px;
  text-align: center;
  align-content: center;
  font-size: 20px;
 
}
.threeimages {
  text-align: center;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 100px;
  color: black;
  font-size: 45px;
  color: rgb(58, 117, 117);
  
  font-weight: 800;
}
.threeimageanchors {
  color: black;
  font-size: 23px;
}

.rowmargin {
  margin-bottom: 100px;
  padding: 10px;
}
.colpadding {
  text-align: center;
  margin-bottom: 100px;
}
.imgpad {
  width: 100%;
  max-height: 400px;
  align-content: center;
  text-align: center;
  opacity: 1;
}
.newimage {
  /*border: 1px solid gray;*/
  text-align: center;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0 0 19px -8px rgb(0 0 0 / 50%);
  border-radius: 11px; /*Rounded corners*/
}
.newimage:hover {
  background-color: white;
  border: 0px;
  box-shadow: 0 0 25px -4px rgba(0 0 0 / 50%);
}
.newimage a:hover {
  text-decoration: none;
}
/* --------------------------------------- Changing Text Heading ------------------------------------*/
.difftext {
  position: absolute;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: rgb(58, 117, 117);
  width: 75%;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}

.content__container:before {
  content: "|";
  left: 0;
}

.content__container:after {
  content: "|";
  position: absolute;
  right: 0;
}

.content__container:after,
.content__container:before {
  position: absolute;
  top: 0;
  color: orange;
  font-size: 52px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 0;
  padding-left: 160px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}



.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@media (max-width: 770px) {
  .difftext{
    display: none;
    font-size: 15px;
    width: 96%;
    display: none;
    margin-top: 0px;
  }
  .content__container{
    padding: 0px
  }
  .content__container__list{
    padding-left: 25px;
  }
  .content__container__list__item{
    opacity: 1;
  }
  .content__container:after,
  .content__container:before{
  line-height: 15px;
  font-size: 70px;
  font-stretch: ultra-expanded;
}

}

@-webkit-keyframes opacity {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes change {

  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@keyframes opacity {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes change {

  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}


/*------------------------------------------------- Main image slider(Carousel)---------------------------------------------*/

.slider1 {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: 9;
}

.sslide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9  ;
  transition: opacity 0.6s ease-in-out;
  
}

.sslide.current {
  opacity: 1;
}

.sslide .content {
  position: absolute;
  bottom: 0px;
  left: -600px;
  opacity: 0;
  width: 500px;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 35px;
  text-align: left;
  align-items: center;
  justify-content: center;
}
.sslide .content p{
  color: white;
}

.sslide .content h1 {
  margin-bottom: 10px;
  font-size: 60px;
  color: rgb(237, 237, 237);
}

.sslide .content h2:nth-child(n+1){
  font-size: 45px;
  color: rgb(237, 237, 237);
  padding-top: 30px;
}


.slider1 .content{
  font-family: poppinsextralight;

  font-weight: 100;
}

.sslide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 1s ease-in 0.3s;
}

.buttons button#nnext {
  position: absolute;
  top: 43%;
  right: 35px;
  z-index: 9;
}

.buttons button#pprev {
  position: absolute;
  top: 43%;
  left: 30px;
  z-index: 9;
}

.buttons button {
  border: 2px solid rgb(0, 0, 0, 0.75);
  background-color: transparent;
  color: rgb(255, 165, 0);
  cursor: pointer;
  padding: 12px 17px;
  border-radius: 50%;
  outline: none !important;
  transition: all 1.5s ease; /*Effect of taking cursor away after hovering the button*/
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.buttons button:hover {
  outline: none !important;
  border: none;
  background-color: rgba(255, 166, 0, 0.8);
  color: rgb(37, 37, 37);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  transition: all 0.6s ease;
}

@media (max-width: 770px) {
  .sslide .content {
    bottom: -300px;
    left: 0px;
    width: 100%;
  }

  .sslide.current .content {
    transform: translateY(-300px);
  }
}

/* Background Images */
.sslidemobile{
  display: none;
}
.sslide:first-child {
  background: url("img/l/1.webp") no-repeat
    center bottom/cover;
    background-attachment: fixed;
}
.sslide:nth-child(2) {
  background: url("img/l/2.webp") no-repeat
    center bottom/cover;
    background-attachment: fixed;
}
.sslide:nth-child(3) {
  background: url("img/l/3.webp") no-repeat
    center bottom/cover;
    background-attachment: fixed;
}
.sslide:nth-child(4) {
  background: url("img/l/4.webp") no-repeat
    center bottom/cover;
    background-attachment: fixed;
}
.sslide:nth-child(5) {
  background: url("img/l/5.webp") no-repeat
    center top/cover;
    background-attachment: fixed;
}
.sslide:nth-child(6) {
  background: url("img/l/6.webp") no-repeat
    center bottom/cover;
    background-attachment: fixed;
}
.sslide:nth-child(7) {
  background: url("img/l/7.webp") no-repeat
    center bottom/cover;
    background-attachment: fixed;
} 

/*Check mobile view images as well*/



/*---------------------------------------------Sticky social Bar----------------------------------------*/
.icon-bar {
  position: fixed;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;

}



.rightbar{
  position: fixed;
  writing-mode: vertical-lr;
  top: 40%;
  right: 0%;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-decoration: none;
  
}

.rightbar h5{
  display: block;
  position: relative;
  color: black;
  font-size: 13px;
  padding: 5px;
  padding-top: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.rightbar h5:hover{
  color: darkorange;
  cursor: pointer;
  transform: scale(1.3);
  transition: all 0.2s ease-in-out;
  background: rgb(58, 117, 117);
  text-decoration: none;
}


.icon-bar .socialfixed a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.2s ease;
  font-size: 20px;
  border-radius: 2px;
 
}

@media only screen and (max-width: 770px) {
  .icon-bar h5{
    display: none;
  }
  .icon-bar{
    background: rgba(0, 0, 0,0.2);
  }
  .rightbar{
    background: rgba(0, 0, 0,0.2);
  }
  .icon-bar .socialfixed a{
    padding: 10px 4px 10px 4px;
    font-size: 20px;
  }
  .ffacebook{
    margin-top: 0px ;
  }
  .ppinterest{
    margin-bottom: 7px;
  }
}
.ffacebook {
  color: #3B5998;
}
.ffacebook:hover{
  background: #3B5998;
  color: white;
  transform: scale(1.4);
  
}


.wwhatsapp {
  color: #075e54;
}
.wwhatsapp:hover{
  background: #075e54;
  color: white;
  transform: scale(1.4);
  
}

.ttwitter {
  color: #55ACEE;
}
.ttwitter:hover{
  background: #55ACEE;
  color: white;
  transform: scale(1.4);
  
}
.iinstagram {
  color: #bc2a8d;
  
}
.iinstagram:hover{
  background: #bc2a8d;
  color: white;
  transform: scale(1.4);
  
}
.llinkedin {
  color: #007bb5;
  
}
.llinkedin:hover{
  background: #007bb5;
  color: white;
  transform: scale(1.4);
  
}
.yyoutube {
  color: #bb0000;
  
}

.yyoutube:hover{
  background: #bb0000;
  color: white;
  transform: scale(1.4);
  
}
.ppinterest{
 color: #E60023;
}

.ppinterest:hover{
  background: #E60023;
  color: white;
  transform: scale(1.4);
}



/*----------------------------------- Why us Background -------------------------------*/

.backgroundbubbleanimation {
  background: #2d7e7d;
  background: -webkit-linear-gradient(top left, #f6f6f6 0%, #f1f1f1 100%);
  background: linear-gradient(to bottom right, #f9f9f9 0%, #f9f9f9 100%);
  position: relative;
  min-width: 100%;
  overflow: hidden;
 
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(58, 117, 117, 0.2);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 100px;
  height: 100px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.bg-bubbles li:nth-child(7) {
  left: 65%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(10) {
  left: 50%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1400px) rotate(600deg);
            transform: translateY(-1400px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1400px) rotate(600deg);
            transform: translateY(-1400px) rotate(600deg);
  }
}


.whyus {
  padding-top: 200px;
  margin-left: 5px;
  text-align: left;
  margin-bottom: 0px;
  font-size: 25px;
}
.offerings {
  text-align: left;
  align-content: center;
  margin-top: 40px;
  margin-bottom: 150px;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 2px;
  color: orange;
}
.lastcoltext {
  margin-bottom: 0px;
}

.wavecontainer2 {
  max-height: 100%;
  position: sticky;
  overflow: hidden;
  background: white;
  background-attachment: fixed;
  box-shadow: rgba(17, 17, 26, 0.2) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.trust {
  text-align: center;
  align-content: center;
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 100px;
}
.reviews {
  text-align: center;
  margin-bottom: 100px;
  font-size: 45px;
  color: rgb(255, 164, 52);
  letter-spacing: 2px;

}
.twocoltext {
  margin-bottom: 20px;
}
.mobilecoltext {
  text-align: justify;
  color: rgb(1, 1, 1);
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.background3 {
  background-color: white;
  color: black;
  box-shadow: rgba(17, 17, 26, 0.2) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.backgroundcolorchange{
  background-color:  rgba(58, 117, 117, 1);
  background-attachment: scroll;
  border-radius: 5px;
  
}

/*---------------------------------Animated Arrows----------------------------------- */
.sellingstrat{
  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 150px;
}
.sellingstrat h2{
  color: white;
  position: absolute;
}
.sellingstrat2 h2:nth-child(0){
  margin-left: 0%;
}
.sellingstrat2 h2:nth-child(1){
  margin-left: 20%;
}
.sellingstrat2 h2:nth-child(2){
  margin-left: 40%;
}
.sellingstrat2 h2:nth-child(3){
  margin-left: 60%;
}
.sellingstrat2 h2:nth-child(4){
  margin-left: 80%;
}



/*----------- Up Arrow -------------*/ 
.uparrow  {
  position: relative;
  top: -10px;
  left: 5%;
}
.uparrow:before,
.uparrow:after{
  content: '';
  position: absolute;
  margin-right: -24px;
  width: 30px;
  height: 7px;
  border-radius: 15px;
  display: block;
  background: white;
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg); 
}

.uparrow:after{
  margin-right: inherit;
  margin-left: -18px;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg); 
}
 
.uparrowanimated{
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s both infinite;
}
 
 
@-webkit-keyframes bounce {
	0% {-webkit-transform: translateY(0); opacity: 0;}
  60% { opacity: 1;}
  100% {-webkit-transform: translateY(-40px); opacity: 0}
}
 
@-moz-keyframes bounce {
	0% {-webkit-transform: translateY(0); opacity: 0;}
  60% { opacity: 1;}
  100% {-webkit-transform: translateY(-40px); opacity: 0}
}
 
@-o-keyframes bounce {
	0% {-webkit-transform: translateY(0); opacity: 0;}
  60% { opacity: 1;}
  100% {-webkit-transform: translateY(-40px); opacity: 0}
}
@keyframes bounce {
	0% {-webkit-transform: translateY(0); opacity: 0;}
  60% { opacity: 1;}
  100% {-webkit-transform: translateY(-40px); opacity: 0}
}




/*---------Down Arrow---------*/
.downarrow{
  position: relative;
  top: 45px;
  left: 5%;
}

.downarrow:before,
.downarrow:after{
  content: '';
  position: absolute;
  margin-right: -24px;
  width: 30px;
  height: 7px;
  border-radius: 15px;
  display: block;
  background: white;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg); 
}
.downarrow:after{
  margin-right: inherit;
  margin-left: -18px;
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg); 
}

.downarrowanimated{
  -webkit-animation: bounce2 3s infinite;
  animation: bounce2 3s both infinite;
}

@-webkit-keyframes bounce2 {
	0% {-webkit-transform: translateY(0); opacity: 0;}
  60% { opacity: 1;}
  100% {-webkit-transform: translateY(40px); opacity: 0}
}
 
@-moz-keyframes bounce2 {
	0% {-webkit-transform: translateY(0); opacity: 0;}
  60% { opacity: 1;}
  100% {-webkit-transform: translateY(40px); opacity: 0}
}
 
@-o-keyframes bounce2 {
	0% {-webkit-transform: translateY(0); opacity: 0;}
  60% { opacity: 1;}
  100% {-webkit-transform: translateY(40px); opacity: 0}
}
@keyframes bounce2 {
	0% {-webkit-transform: translateY(0); opacity: 0;}
  60% { opacity: 1;}
  100% {-webkit-transform: translateY(40px); opacity: 0}
}

.sellingstrat1 div:nth-child(0){
  margin-left: 0%;
  
}
.sellingstrat1 div:nth-child(1){
  margin-left: 20%;
}
.sellingstrat1 div:nth-child(2){
  margin-left: 44%;
}
.sellingstrat1 div:nth-child(3){
  margin-left:70%;
}
.sellingstrat1 div:nth-child(4){
  margin-left: 94%;
}

/*----------------------------------------------- Portfolio Cards ----------------------------------------*/
.portfoliocardscontainer{
  margin: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.portfoliocard {
  background-color: rgb(238, 238, 238);
  width: 300px;
  overflow: hidden;
  border-radius: 1em;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.portfoliocard {
  position: relative;
}
.portfoliocard:before {
  content: "";
  position: absolute;
  transition: 300ms;
  top: -80px;
  left: -100%;
  right: -100%;
  margin: auto;
  height: 400px;
  width: 400px;
  box-shadow: inset -1em -0.5em 0 var(--bs-clr);
}

@media only screen and (max-width: 770px) {
  .portfoliocard{
    margin-top: 30px;
  }
}
@media only screen and (max-width: 1000px){
  .portfoliocard{
    margin-top: 30px;
  }
}

.card1:before{
  background: url("img/Exterior/i475.webp");
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  --bs-clr: rgba(58, 117, 117, 0.3);
}
.card2:before{
  background: url("img/Interior/i474.webp");
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  --bs-clr: rgba(58, 117, 117, 0.3);
}
.card3:before{
  background: url("img/ResortLandscape/i207_result.webp");
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  --bs-clr: rgba(58, 117, 117, 0.3);
}
.card4:before{
  background: url("img/Interior/i429.webp");
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  --bs-clr: rgba(58, 117, 117, 0.3);
}

.bottom {
  margin-top: calc(400px + -80px);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 2px;
  padding-right: 2px;

  position: relative;
  z-index: 2;
}

.buttonexplore {
  cursor: pointer;
  margin: 5px 5px;
  padding: 10px;
  background-color: rgba(58, 117, 117, 0.9);
  border: 0.4px solid rgb(58, 117, 117);
  overflow: hidden;
  transition: 0.5s;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: poppinsregular;
  letter-spacing: 1px;
  border-radius: 5px;

}
.buttonexplore:hover {
  transform: translateY(-10%);
  letter-spacing: 5px;
  transition: 0.5s;
  border-radius: 5px 5px 20px 20px;
box-shadow: rgba(58, 117, 117, 0.4) 0px 2.5px, rgba(58, 117, 117, 0.3) 0px 5px,
    rgba(58, 117, 117, 0.2) 0px 7.5px, rgba(58, 117, 117, 0.1) 0px 10px,
    rgba(58, 117, 117, 0.05) 0px 12.5px;
}
.buttonexplore::before {
  content: "";
  top: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: white;
}
.buttonexplore:hover::before {
  height: 100%;
  transition: 0.5s;
}

.nameofcard{
  text-align: center;
  text-decoration: none;
  color: black;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}
.profession-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profession {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.portfoliocard:hover:before {
  height: 100%;
  top: 0;
  border-radius: 0;
  --bs-clr: rgba(53, 22, 163, 0);
  opacity: 0.8;
}




















/*------------------------------------------------ Why us  ----------------------------------------------------------*/


.twocoltextcontainer{
  display: block;
}


/*--------------------------------------------------- SVG Animation from storyset.com -----------------------------------------*/

/*---------------------------------------------------- FAQ -------------------------------------------------------*/
.faqcontainer{
  background-color: #f1f1f1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.faqcontainer  ul{
  list-style-type: circle;
}
.faqheading{
text-align: center;
  align-content: center;
  font-size: 20px;
  margin-bottom: 20px;
  padding-top: 100px;
}
.faqcontainer .row h3{
  margin-bottom: 20px;
}

.faqcontainer .row p{
  margin-bottom: 80px;
}

.contentinfaq{
  padding-left: 15%;
}
@media only screen and (max-width: 1000px){
  .contentinfaq{
    padding-left: 20%;
  }
}



.checkmark {
  position: absolute;
  font-size:32px;
  font-family: FontAwesome;
  left: 0;
  color: rgb(58, 117, 117);
  padding-left: 10%;
}


.checkmark:before {
   content:"\f00c";
}


.checkmark:hover:before {
  color: orange;
  transition: all 5s ease-in-out;
}




/*------------------------------------------ Owl Carousel Reviews ---------------------------------------*/


.section-padding {    /*Margin above the container*/
  padding: 80px 0;
  overflow: hidden;
}


.client-review-stars{
  color: darkorange;
}
.client-testimonial-carousel .owl-dots button {  /*Button at the bottom*/
  height: 5px;
  background: orange !important;
  width: 120px;
  display: inline-block;
  margin: 5px;
  transition: .2s;
  border-radius: 2px;
}


.client-testimonial-carousel button.owl-dot.active {
  background: rgb(58,117,117) !important;
  width: 30px;
}

.client-testimonial-carousel .owl-dots {
  text-align: center;
  margin-top: 25px
}

.single-testimonial-item {
  position: relative;
  box-shadow: 0 0 15px #e3e3e3;
  margin: 2px;
  padding: 20px;
  height: 350px;     /*Height of card*/
  padding-left: 85px;
  overflow: hidden;
  border-radius: 10px;
}

@media only screen and (max-width: 1000px){
  .section-padding p{
    font-size: 12px;
  }
  .single-testimonial-item:before{
    left: 0px;
    font-size: 0;
    display: none;
    position: relative;
  }
  .single-testimonial-item:after{
    display: none;
  }
  .single-testimonial-item{
    width: 100%;
    padding-left: 10px;
    height: 275px;
  }
  .client-testimonial-carousel .owl-dots button{
    width: 50px;
  }
  .material-symbols-outlined{
   opacity: 0;
   position: relative;
  }
} 
 /*Quote sign*/
.single-testimonial-item:before {
  font-weight: 900;
  position: absolute;
  top: 50%;
}

.material-symbols-outlined{
  font-family: "Material Symbols Outlined";
  font-weight: 600;
  position: absolute;
  left: 10px;
  top: 46%;
  font-size: 120px;
  color: rgb(58,117,117);
  line-height: 30px;
  margin-top: -15px;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  
}



.single-testimonial-item:after {
  background: #ddd;
  content: "";
  height: 80%;
  left: 60px;
  position: absolute;
  top: 10%;
  width: 1px;
}

.single-testimonial-item h3 {
  font-size: 20px;
  font-style: normal;
  margin-bottom: 0;
}

.single-testimonial-item h3 span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
}


/*----------------------------------------------- Motto --------------------------------------------------*/

.motto {
  text-align: center;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: poppinsregular;
  letter-spacing: 3px;
  font-weight: 500;
}
.motto svg{
  float: left;
  fill: #1c68b3 ;
  margin-right: 15px;
}
@media screen and (max-width: 1000px){
  .motto svg{
    display: none;
  }
}
.motto h2 {
  font-size: 50px;
  letter-spacing: 2px;
  padding-top: 60px;
  font-weight: 600;
}
.motto .linear-wipe {
  text-align: center;
  background: linear-gradient(to left, #3A7575 20%, orange 40%, orange 60%, #3A7575 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 1s linear infinite;
          animation: shine 1s linear infinite;
}
@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}






/*----------------------------------------- Logo animated counter ---------------------------------------*/
#counter-section-container {
  width: 100%;
  text-align: center;
  
}

#counter-box-container {
  /*border: 1px solid #999999;*/
  overflow: hidden;
  display: inline-block;
}

#counter-box {
  /*width: 33.22%;*/
  width: 300px;
  min-width: 200px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  float: left;
  text-align: center;
  /*background-color: #111111;*/
  color: #c0c0c0;
  /*border: 1px solid #666666;*/
}

@media only screen and (max-width: 770px) {
  #counter-box{
    margin-left: 10%;
  }
}

.counter {
  font-size: 50px;
  color: #c0c0c0;
}




/*------------------------------------------- Client slider owlcarousel ----------------------------------------------*/
.carousel-wrap {
  margin: 30px auto;
  margin-bottom: 100px;
  padding: 0 5%;
  width: 100%;
  position: relative;
  display: block;
}

/* fix blank or flashing items on carousel */
.owl-carousel1 .item1 {
  position: relative;
  z-index: 8; 
  -webkit-backface-visibility: hidden; 
  float: none;
  display: inline-block;
}
.owl-carousel1 .owl-stage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-dots{
  display: none;
}
.owl-carousel1 img{
  max-height: 100px;
}

.owl-carousel1 .owl-nav {
  font-size: 52px;
  display: none;
}

.owl-nav .owl-prev {
  left: -30px;
  display: none;
}

.owl-nav .owl-next {
  right: -30px;
  display: none;
}



.partofcommunity {
  text-align: center;
  margin-top: 30px;
  font-size: 60px;
  color: rgb(243, 164, 68);
  letter-spacing: 2px;
  font-weight: 100;
  line-height: 80px;
}
.partofcommunity span{
  color: rgb(58, 117, 117);
  font-weight: 900;
}
.boxanimated {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  padding-left: 20px;
  background-color: white; /* gold */
  /* Single pixel data uri image http://jsfiddle.net/LPxrT/ 
  /* background-image: gold, gold, white */
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="),
    url("data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="),
    url("data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==");
  background-repeat: no-repeat;
  background-size: 0 2px, 0 100%, 0% 2px;
  background-position: top center, top center, bottom center;
  -webkit-animation: drawBorderFromCenter 6s linear infinite;

}

@media only screen and (max-width: 900px){
  .boxanimated{
    margin-top: 0px;
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes drawBorderFromCenter {
  0% {
    background-size: 0 2px, 0 0, 100% 100%;
  }
  16.67% {
    background-size: 100% 2px, 100% 0, 100% 100%;
  }
  33.33% {
    background-size: 100% 2px, 100% 98%, 100% 100%;
  }
  50% {
    background-size: 100% 2px, 100% 98%, 0 2px;
  }
  66.67%{
    background-size: 100% 2px, 100% 98%, 100% 100%;
  }
  83.33%{
    background-size: 100% 2px, 100% 0, 100% 100%;
  }
  100%{
    background-size: 0 2px, 0 0, 100% 100%;
  }
}









 /*------------------------------------All the image gallery in portfolio(interior, exterior)------------------------------------*/
.maxsize{
  max-height: 70vh;
  border-radius: 8px;
  cursor: pointer; /*Change cursor type on hover*/
  overflow: hidden;
  transition: opacity 1s ease; 
}
.maxsize:hover{
  opacity: 0.9;
}

.portfoliocontainer { /* now a container for the image */
  display: inline-block; /* shrink wrap to image */
  overflow: hidden; /* hide the excess */
}
.portfoliocontainer img {
  display: block; /* no whitespace */
  transition: transform 4s cubic-bezier(0.1, 0.6, 0.1, 1.0);
}
.portfoliocontainer:hover img {
  transform: scale(1.15);
}


.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 99;
  /* Sit on top */
  padding-top: 10px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 1);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#img01{
  margin: auto;
  max-height: 99%;
  width: auto;
}



.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 1s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.closemodal {
  text-decoration: none;
  position: absolute;
  top: 0px;
  right: 40px;
  color: rgba(58, 117, 117, 1);
  font-size: 110px;
  transition: 0s;
  z-index: 100;
}

.closemodal:hover {
  color: orange;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
  .modal-content {
    width: 100%;
  }
}



/*-------------------------------------- Page - About CSS-------------------------------*/
.aboutheading {
  padding-top: 150px;
  padding-bottom: 100px;
}
.abouttgb {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
}
.abouttgb:hover {
  text-decoration: none;
  color: rgb(231, 136, 19);
}
.abouttext {
  margin-right: 10px;
}
.aboutfont {
  color: #000;
  padding-bottom: 100px;
}
.aboutfont span{
  font-size: 25px;
}
.aboutfontsize{
  font-size: 23px;
}
/*Services CSS*/
.servicesheading {
  margin: auto;
  text-decoration: none;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.services {
  font-size: 45px;
  text-decoration: none;
  color: black;
}
.services:hover {
  text-decoration: none;
  color: rgb(231, 136, 19);
}

.servicespadding {
  padding-left: 300px;
}

.servicesfont{
  font-size: 23px;
}

/*------------------------------------------- Page contact CSS -------------------------------------------------*/

.contactheading {
  padding-top: 100px;
  padding-bottom: 100px;
}
.contactpadding {
  padding-top: 20px;
}
.address {
  background-color: white;
}

.contact-text{
  padding-left: 70px; 
  text-align: justify;
  color:#000
}
.contactemailus{
  text-align: center;
  align-content: center;
  justify-items: center;
}







/*----------------------------------------------------- Footer -------------------------------------------------------*/
footer{
  margin-top: 150px;
  text-decoration: none !important;
}

.footer a{
  text-decoration: none;
}
.footer-widget p {
  margin-bottom: 27px;
}
footer p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: rgb(245, 245, 245);
  line-height: 28px;
}

.animate-border {   /*blue color animation of loading*/
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #007bff;
}

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(90px);
  }
}

.animate-border.border-white:after {
  border-color: #fff;
}

.animate-border.border-yellow:after {
  border-color: #f5b02e;
}

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff;
}

.animate-border.border-ash:after {
  border-right-color: #eef0ef;
  border-left-color: #eef0ef;
}

.animate-border.border-offwhite:after {
  border-right-color: #f7f9f8;
  border-left-color: #f7f9f8;
}

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%;
  }
  50% {
    width: 90%;
  }
  100% {
    width: 10%;
  }
}

@keyframes primary-long {
  0% {
    width: 80%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.dk-footer { /*---------------Main footer------------*/
  padding: 75px 0 0;
  background-color: rgba(58, 117, 117, 1); 
  position: relative;
  z-index: 2;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.dk-footer .contact-us {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 80px;
}
.dk-footer .contact-us .contact-info {
  margin-left: 50px;
}
.dk-footer .contact-us.contact-us-last {
  margin-left: -80px;
}
.dk-footer .contact-icon i {
  font-size: 24px;
  top: -15px;
  position: relative;
  color: #007bff;
}

.dk-footer-box-info {  /*------------Secondary footer (box)------------*/
  position: absolute;
  top: -122px;
  background: rgb(223, 162, 48);
  padding: 40px;
  z-index: 2;
}

.footer-h3{
  padding: 0px;
}

.footer-social-links{
  padding-bottom: 20px;
  position: absolute;
  left: 40px;
  display: flex;
  flex-direction: row;
 
  
}
.footer-social-links a{
  color: white;
  margin-right: 10px;
  font-size: 1.8em;
  transition: 0.1s ease;
 
}
.footer-social-links a:hover{
  color: white;
  transform: scale(1.4);
}

.footer-info-text {
  margin: 26px 0 20px;
}

.footer-left-widget {
  padding-left: 80px;
}

.footer-widget .section-heading {
  margin-bottom: 35px;
}

.footer-widget h3 { /*main footer text*/
  font-size: 24px;
  color: rgb(224, 224, 224);
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-widget li {
  margin-bottom: 18px;
}

.footer-widget p {
  margin-bottom: 27px;
}

.footer-widget a {
  color: rgb(224,224,224);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 500;
  font-size:  16px;
  
}
.footer-widget a:hover {
  color: rgb(223, 162, 48);
  text-decoration: none;

}
.contactfooter{
  color: rgb(223, 162, 48) !important; 
}
.contactfooter:hover{
  color: rgb(224,224,224) !important;
}

.footer-widget:after {
  content: "";
  display: block;
  clear: both;
}

.emailfooter{
  color: orange;
  font-size: 50px;
}

.emailfooter h5{
  font-size: 18px;
  color: orange;
  transition: all 0.8s ease-out;
}

.emailfooter h5:hover{
  transform: scale(1.4) translateX(14%);
  transition: all 0.8s ease-out;
  color: orange;
}

/* ==========================

    Contact

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-icon { /*Contact 2 icons*/
  position: absolute;
}
.contact-icon i {
  font-size: 36px;
  top: -5px;
  position: relative;
  color: #007bff;
}

.contact-info {
  margin-left: 75px;
  color: rgb(224,224,224);
}
.contact-info h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
}

.copyright { /*--------------Bottom footer------------------------*/
  padding: 10px 0;
  margin-top: 55px;
  background-color: #2e2e2e;
  font-size: 10px;
}
.copyright span,
.copyright a {
  color: #bbb8b8;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.copyright a:hover {
  color: rgba(58, 117, 117, 1);
  text-decoration: none;
}

.copyright-menu ul {
  text-align: right;
  margin: 0;
}

.copyright-menu li {
  display: inline-block;
  padding-left: 20px;
}

.back-to-top { /*----------------Back to top icon------------------*/
  display: none;
  position: relative;
  z-index: 2;
}
.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e2e2e;
  border-color: #2e2e2e;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: orange;
  border-color: orange;
}
/*-------------------------End of Footer-------------------------------*/




/*------------------------------------------------------ Mobile View ----------------------------------------------------------*/

@media screen and (max-width: 770px) {
  
  .loadtext{
    text-align: center;
    margin-left: 5px;
    margin-top: 20vh;
    margin-right: 0px;
    font-size: 25px;
  }

  /* Backgorund Images */
  
.slider{
  height: 97vh;
}
.hidemobile{
  display: none;
}
.sslidemobile{
  display: block;
}
.sslide:first-child {
  background: url("img/p/Image1_004.webp") no-repeat
    center bottom/cover;
    background-attachment: fixed;
}
.sslide:nth-child(2) {
  background: url("img/p/Image1_0012.webp") no-repeat
    center bottom/cover;
    background-attachment: fixed;
}
.sslide:nth-child(3) {
  background: url("img/p/Image1_001.webp") no-repeat
    center bottom/cover;
    background-attachment: fixed;
}
.sslide:nth-child(4) {
  background: url("img/p/Image1_008.webp") no-repeat
    center bottom/cover;
    background-attachment: fixed;
}
.sslide:nth-child(5) {
  background: url("img/p/Image1_005.webp") no-repeat
    center bottom/cover;
    background-attachment: fixed;
}

.sslide:nth-child(6) {
  background: url("img/p/Image1_0011.webp") no-repeat
    center bottom/cover;
    background-attachment: fixed;
}
.sslide:nth-child(7) {
  background: url("img/p/Image1.webp") no-repeat
    center bottom/cover;
    background-attachment: fixed;
}


.sslide .content {
  background-color: rgba(0, 0, 0, 0.5);
}

  
  .right {
    float: right;
    padding-right: 25px;
  }
  
  .tgb {
    font-size: 30px;
  }
  .imgpad {
    opacity: 1;
    height: 250px;
  }
  .nav {
    position: absolute;
  }
  .edgewave {
    height: 20px;
  }
  .marginbotfooter {
    padding-left: 10px;
    padding-bottom: 30px;
  }
  
  .js-slider_nav_item.prev {
    top: 30px;
  }
  .js-slider_nav_item.next {
    top: 30px;
    transform: rotateY(180deg);
  }

  .aboutfont {
    color: black;
    font-size: 20px;
  }
  .info {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .mobileimagemargin {
    padding: 100px;
  }
  .onecoltext {
    margin-bottom: 70px;
  }
  .mobilecoltext {
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    font-size: 15px;
    margin-bottom: 40px;
  }
  .contactmaps {
    margin-top: 100px;
    text-align: center;
  }
  .margintopfooter {
    padding-top: 0px;
  }
  .address {
    margin-left: 30px;
    margin-right: 30px;
  }
  .servicespadding {
    padding-left: 0px;
  }
  
  .reviews {
    margin-bottom: 100px;
  }
  
}
@media screen and (max-width: 1000px) {
  
  .navtext {
    padding: 8px;
    text-decoration: none;
    font-size: 40px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  .tgb{
    font-size: 0px;
  }
  .workdone{
    margin-left: 20px;
    margin-top: 100px;
    font-size: 18px;
  }
  .overlay a:hover, .overlay a:focus {   /*navtext hover*/
    color: orange;
  }
  .overlay .closebtn {
    top: 0px;
    right: 20px;
    font-size: 70px;
  }
  .address {
    margin-left: 30px;
    margin-right: 30px;
  }
  .colpadding{
    margin: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .right {
    float: right;
    padding-top: 8px;
    padding-right: 25px;
  }
  .contactmaps {
    margin-top: 100px;
    text-align: center;
  }
  .servicespadding {
    padding-left: 0px;
  }
  
  .threeimages{
    font-size: 35px;
  }
  .threeimageanchors{
    font-size:20px;
  }
  .dk-footer .contact-icon i{
    display: none;
  }
  .dk-footer ul{
    display: none;
  }
  .contact-info{
    display: none;
  }
  .animate-border{
    display: none;
  }
  .copyright{
    font-size: 13px;
    
  }
  .copyright-menu ul{
    text-align: left;
    padding-top: 30px;
  }
  .overlay-exterior{
    display: none;
  }
  .overlay-interior{
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .servicespadding {
    padding-left: 0px;
  }
}














/*-------------------------------Custom Scrollbar-------------------------------*/
.pagescroll {
  direction: ltr;
  scrollbar-width: thin;
}

.pagescroll::-webkit-scrollbar {
  width: 14px;
}

.pagescroll::-webkit-scrollbar-track {
  background-color:  rgba(58, 117, 117, 0.1);
  border-radius: 10px;
}

.pagescroll::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: orange;
  box-shadow: inset 2px 2px 5px 0 rgba(133, 133, 133, 0.4);
}

















