.headingcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.mainwords {
  font-size: 40px;
  color: rgb(83, 83, 83);
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-weight: 900;
  position: relative;
  left: 0px;
  text-align: center;
  padding: 10px;
  display: inline-block;
  
}



.mainwords span{
  background: linear-gradient(75deg , rgba(247, 0, 99, 0.2), rgba(255, 128, 0, 0.2));
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
}

@media (max-width: 1000px) {
  .mainwords{
    font-weight: 600;
  }
}




@keyframes Umang{
  0%{
   
    width: 0;
   
  }
  5%{
    
    width: 0;
  }
  12.5%{
    
    width: 100%;
  
  }
  22%{
    
    width: 100%;
  
  }
  25%{
   
    width: 0;
   
  }
  30%{
    
    width: 0;
   
  }
  37.5%{
    
    width: 100%;
    
  }
  47%{
    
    width: 100%;
    
  }
  50%{
    
    width: 0;

  }
  55%{
    
    width: 0;

  }
  62.5%{
    
    width: 100%;
    
  }
  72%{
    
    width: 100%;
    
  }

  75%{
    
    width: 0;
  }
  80%{
    
    width: 0;
  }

  87.5%{
    
    width: 100%;
   
  }
  
  97%{
   
    width: 100%;
   
  }

  100%{
  
    width: 0;
  }
  
}

