
.processcontainer{
  width: 100vw;
  height: 100vh;
  background-color: rgba(20,20,20);
  display: block;
}
.processtep{
  position: relative;
  left: 10vw;
  width: 100%;
}

.processcircle{
  position: relative;
  background-color: rgba(205,205,205);
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  transform: translateX(-5vw);
  display: flex; /* For centering alignment */
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
}

.processminicircle{
  position: relative;
  width: 1.85vw;
  height: 1.85vw;
  border-radius: 50%;
  background-color: darkorange;
  display: flex; /* For centering alignment */
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  overflow: hidden;
}

.processnumber{
  position: absolute;
  color: rgba(240,240,240);
  font-size: 2.5vh;
  top: 50%;
  transform: translateY(-50%); /* Offset to counteract positioning */
  text-align: center; /* Center text horizontally */

}

.verticalsvg{
  position: absolute;
  height: 9vh;
  width: auto;
  transform: rotate(90deg);
  margin-top: 15vh;
  opacity: 0.8;
}


.stepdetails{
  position: relative;
  
}
.processtitle{
  color: darkorange;
}

.processdescription{
  color: rgba(205,205,205);
  
}

