/*------------------------------------ Up Arrow ---------------------------*/ 
.uparrow  {
  position: absolute;

}
.uparrow:before,
.uparrow:after{
  content: '';
  position: absolute;
  top: 0;
  right: -24px;
  width: 30px;
  height: 7px;
  border-radius: 10px;
  display: block;
  background: black;
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg); 
}

.uparrow:after{
  right: inherit;
  left: -24px;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg); 
}
 
.uparrowanimated{
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s both infinite;
}
 
 
@-webkit-keyframes bounce {
	0% {-webkit-transform: translateY(0); opacity: 0;}
  60% { opacity: 1;}
  100% {-webkit-transform: translateY(-40px); opacity: 0}
}
 
@-moz-keyframes bounce {
	0% {-webkit-transform: translateY(0); opacity: 0;}
  60% { opacity: 1;}
  100% {-webkit-transform: translateY(-40px); opacity: 0}
}
 
@-o-keyframes bounce {
	0% {-webkit-transform: translateY(0); opacity: 0;}
  60% { opacity: 1;}
  100% {-webkit-transform: translateY(-40px); opacity: 0}
}
@keyframes bounce {
	0% {-webkit-transform: translateY(0); opacity: 0;}
  60% { opacity: 1;}
  100% {-webkit-transform: translateY(-40px); opacity: 0}
}





.downarrow{
  position: absolute;

}

.downarrow:before,
.downarrow:after{
  content: '';
  position: absolute;
  top: 0;
  right: -24px;
  width: 30px;
  height: 7px;
  border-radius: 10px;
  display: block;
  background: black;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg); 
}
.downarrow:after{
  right: inherit;
  left: -24px;
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg); 
}

.downarrowanimated{
  -webkit-animation: bounce2 3s infinite;
  animation: bounce2 3s both infinite;
}

@-webkit-keyframes bounce2 {
	0% {-webkit-transform: translateY(0); opacity: 0;}
  30% { opacity: 1;}
  100% {-webkit-transform: translateY(40px); opacity: 0}
}
 
@-moz-keyframes bounce2 {
	0% {-webkit-transform: translateY(0); opacity: 0;}
  30% { opacity: 1;}
  100% {-webkit-transform: translateY(40px); opacity: 0}
}
 
@-o-keyframes bounce2 {
	0% {-webkit-transform: translateY(0); opacity: 0;}
  30% { opacity: 1;}
  100% {-webkit-transform: translateY(40px); opacity: 0}
}
@keyframes bounce2 {
	0% {-webkit-transform: translateY(0); opacity: 0;}
  30% { opacity: 1;}
  100% {-webkit-transform: translateY(40px); opacity: 0}
}

 